/* Author Thusau */

 /* @Media width PC & table 10" */
@media screen and (min-width: 1200px) {
  * {
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  min-height: 150px;
  background-color: blue;
  clear: both;
}

section {
  width: 70%;
  min-height: 500px;
  background-color: green;
  margin-top: 10px;
  float: left;
}

aside {
  width: 30%;
  min-height: 500px;
  padding-left: 20px;
  margin-top: 10px;
  float: right;
}

  
.sizebar {
  width: auto;
  min-height: 150px;
  background-color: pink;
  margin-bottom: 20px;
   }
}
@media screen and (min-width:992px) and (max-width:1199px){
  
}
@media screen and (min-width:768px)  and (max-width:1199px){
  * {
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  min-height: 150px;
  background-color: blue;
  clear: both;
}

section {
  width: 100%;
  min-height: 500px;
  background-color: green;
  margin-top: 10px;
  
}

aside {
  width: 100%;
  min-height: 150px;
  margin-top: 10px ;
  
}

  
.sizebar {
  width: 33%;
  min-height: 150px;
  background-color: pink;
  margin: 20px auto ;
  margin-top: 0;
  display: inline-block;
  
   }
}
@media screen and (max-width:767px){
  * {
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  min-height: 150px;
  background-color: blue;
  clear: both;
}

section {
  width: 100%;
  min-height: 500px;
  background-color: green;
  margin-top: 10px;
  
}

aside {
  width: 100%;
  min-height: 150px;
  margin-top: 10px ;
  
}

  
.sizebar {
  width: auto;
  min-height: 150px;
  background-color: pink;
  margin: 20px auto ;
  margin-top: 0;
     }
}
  