/* Author Thusau */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: blue;
  margin-top: 5px;
}

#content {
  border: 1px solid red;
  margin: 5px auto;
  
}

aside {
  width: 22%;
  height: 600px;
  background-color: orange;
  float: left;
}

table {
  width: 77%;
  height: 600px;
  border-spacing: 5px;
  float: right;
}

td#green {
  background-color: green;
}

tr {
  width: 100%;
  height: 20px;
  border: 1px solid red;
  
}

td {
  width: 30%;
  height: 30px;
  border: 1px solid red;
  background-color: yellow;
 
}

footer {
  width: 100%;
  height: 100px;
  background-color: blue;
  display: inline-block;
  margin: 5px 0;
}  





